07:54="this is going to be printed after the done message"
07:55="luch time but make sure u complete this  and upload it to git"
07:44="this is a test to check"
05:50=maybe this will work
06:19=shyamsundar iyanger
07:30="this is going to be the long check for memory consumption"
08:06="classes start now better get bathing"
09:00="Another miserable day of online classes"
08:28="sldkfjslkfjslkfslkfjslkfjslkkf"
11:56="sldkfjsdlkfjslkfslbaskjgfaweirw"
06:12=this is going to be fun I LOVE BASH
